<ion-view view-title="iSeries NX Lite" no-scroll="true">
  <ion-content class="padding admin-panel">
    <div class="wrapper" ng-include="ctrl.page.template"></div>
  </ion-content>
  <div class="bar bar-footer admin-panel">
    <div class="col page-bar row pages">
        <ion-scroll direction="x">
          <div class="button-bar">
            <a class="button  button-positive" ng-click="ctrl.changePage(page)" ng-repeat="page in ctrl.pages"
               ng-class="{'active': page.active}">
              <p class="desc1">{{page.text}}</p>
            </a>
          </div>

        </ion-scroll>
    </div>
  </div>
</ion-view>
