
<div class="row" ng-controller="LogsCtrl as ctrl">
  <div class="col col-50 col-offset-25">
    <div class="card">
      <div class="item item-text-wrap">
        <div class="list">
          <label class="item item-input item-stacked-label" style="padding: 2px">
            <div class="col">
                <button class="button button-block button-positive" ng-click="ctrl.SyncLog()" ng-disabled="">
                  Sync Log
                </button>
            </div>
          </label>
          <label class="item item-input item-stacked-label" style="padding: 2px">
            <div class="col">
                <button class="button button-block button-positive" ng-click="ctrl.UploadLog()" ng-disabled="">
                  Upload Log
                </button>
            </div>
          </label>
          <!-- <label class="item item-input item-stacked-label">
            
          </label>
          <label class="item item-input item-stacked-label">
            
          </label> -->
        </div>
      </div>
    </div>
  </div>
</div>
