/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;

// The path for our ionicons font files, relative to the built & temporary main.css
$ionicons-font-path: "../assets/fonts" !default;

// Include all of Ionic
@import "../../bower_components/ionic/scss/ionic";

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../assets/fonts/lato-regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

*{
  font-family: Lato;
  font-size: 14px;
}

.spinner svg {
  width: 28px;
  height: 28px;
  stroke: white;
  fill: #444;
}

.warning-alert .popup .button{
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

.error-alert .popup .button{
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}

.wrapper{
  maring: 0;
  padding: 0;
}
.wrapper>.col{
  margin: 0;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

padding-right{
  padding-right: 15px;
}

.text-left{
  text-align: left;
}

.modal {
  background-color: rgba(7, 50, 82, 1);
  color: white;
}

.modal .bar{
  //background-color: rgba(7, 50, 82, 1);
}

.modal .bar {
  //background-color: rgba(7, 50, 82, 1);

  .title, .button{
    color: white;
  }
}


//clearable input field
/* ================================================
Input field
================================================ */
.item-input input[ionic-input-clearable]{
  padding-right: 32px;
}


/* ================================================
Clear button
================================================ */
.input-clear-btn.button{
  position: absolute;
  right: 0;
  bottom: 11px;
  min-height: inherit;
  -webkit-transition: 0.1s linear all;
  transition: 0.1s linear all;
  opacity: 1;
}
.input-clear-btn.button.ng-hide {
  opacity: 0;
}

.input-clear-btn.button,
.item-stacked-label .icon.input-clear-btn{
  padding-right: 10px;
}

.input-clear-btn.button,
.input-clear-btn.button .icon:before,
.input-clear-btn.button.icon:before,
.input-clear-btn.button.icon-left:before,
.input-clear-btn.button.icon-right:before{
  font-size: 14px;
  line-height: 16px;
}

.item-input-inset .input-clear-btn.button{
  bottom: 4px;
}

ion-modal-view ion-header-bar.bar.bar-header {
  background-color: #073252;
}

.popup-container.popup-showing {
  top: -30%;
}

.no-data {
  text-align: center;

  i: {
    font-size: 90px;
  }
}

.row.header, .item.item-divider.header{
  background-color: steelblue;
}

.no-padding-top { padding-top: 0; }

.bold, .table-header .col { font-weight: bolder; }

//for custom keyboard
custom-keyboard-container > custom-keyboard > custom-keyboard-keys > custom-keyboard-key {
  width: 10%;
}

custom-keyboard-container > custom-keyboard.fullKeyboard > custom-keyboard-keys > custom-keyboard-key:nth-child(10), custom-keyboard-container > custom-keyboard.fullKeyboard > custom-keyboard-keys > custom-keyboard-key:nth-child(12) {
  background-color: #fff;
}

input[disabled], select[disabled], textarea[disabled], input[readonly]:not(.cloned-text-input), textarea[readonly]:not(.cloned-text-input), select[readonly] {
  background-color: #fff;
}

.col-70 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 70%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 70%;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  max-width: 70%;
}



ion-scroll.ionic-scroll.scroll-view {
  overflow-x: hidden;
  overflow-y: hidden;
  margin-left: 0;
  border: none;
}

img.logo {
  width: 100px;
  height: 100px;
}

.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.loading-pane {
  position: absolute;
  left: 48%;
  padding-top: 50%;
}
