<ion-view view-title="iTouch NX Lite" class="sales" hide-back-button="true" can-swipe-back="false">
  <ion-content scroll="false">
    <form action="" ng-submit="barcodeSubmit($event)" >
      <input type="number" ng-model="data.barcode"  ng-blur="onBarcodeTextBlur()" ng-disabled="(!data.barcodeMode || !data.Submit)" id="barcodeText" />
      <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" />

    </form>
    <div class="row wrapper main-wrapper">
      <div class="col content-area">
        <div class="cart-area">
          <div class="row cart">
            <div class="table" ng-show="!cart.isEmpty">
              <div class="row table-header">
                <div class="col col-50">Description</div>
                <div class="col text-right">Qty</div>
                <div class="col text-right">Price</div>
                <div class="col text-right">Discount</div>
                <div class="col text-right">Total</div>
              </div>
              <ion-scroll class="cart" zooming="false" direction="y" style="height: 253px"  delegate-handle="cart">
                <div class="row table-body" ng-repeat="item in cart.items | orderObjectBy :'LineNumber' track by $index"
                     ng-class="{ selected: item.selected, 'sales-kit': item.ItemType == 'SKT', 'sales-kit-item': item.ParentItemLineNumber != 0, 'modifier-item': item.ItemType == 'MOD', 'take-away': item.TakeAway == 'true','nondisc':item.NoDiscount=='true'}"
                     ng-click="selectItem(item)" id="{{item.LineNumber}}">
                  <div class="col col-50" >{{print(item, 'Desc')}}</div>
                  <div class="col text-right padding-right" >{{item.Qty}}</div>
                  <div class="col text-right padding-right" >{{item.OrgPrice.roundTo(2).toFixed(2)}}</div>
                  <div class="col text-right padding-right" >{{(item.DiscAmount + item.Tax5DiscAmount).roundTo(2).toFixed(2)}}</div>
                  <div class="col text-right padding-right" >{{item.Total.roundTo(2).toFixed(2)}}</div>
                </div>
              </ion-scroll>
            </div>
            <img ng-show="cart.isEmpty" class="cart-background" ng-src="{{images.cart_background || 'main/assets/img/cart_back.jpg'}}" alt="">
          </div>
          <div class="row wrapper button-wrapper">
            <div class="col buttons clearfix">
              <div class="clearfix">
                <button class="btn" ng-repeat="key in keyboard.activeKeys"
                     ng-style="{'background-color': key.Colour }" ng-click="bkey||onKeyClick(key)" ng-disabled="bkey">
                  <div style="font-weight: bold;">
                    <p class="desc1">{{ print(key, 'KeyDesc', 1) || print(key, 'PageDesc', 1) }}</p>
                    <p class="desc2">{{ print(key, 'KeyDesc', 2) || print(key, 'PageDesc', 2) }}</p>
                    <p class="desc3">{{ print(key, 'KeyDesc', 3) || print(key, 'PageDesc', 3) }}</p>
                  </div>
                  <span  ng-if="key.ImageName!='' && key.ImageName!=null">
                    <img class="item-image" width="80" ng-src="{{ imageUrl(key.ImageName) }}" alt="">
                  </span>
                  <!--<img class="item-image" width="80" ng-src="{{ imageUrl(key.ImageName) }}" alt=" ">-->
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col button-area">
        <div class="info">
          <div class="row">
            <div class="col">Business Date</div>
            <div class="col">: {{header.BusinessDate | date:'dd-MMM-yyyy' }}</div>
          </div>
          <div class="row">
            <div class="col">Staff</div>
            <div class="col">: {{user.Code}}</div>
          </div>
          <div class="row">
            <div class="col">Document No</div>
            <div class="col">: {{header.DocNo}}</div>
          </div>
          <div class="row">
            <div class="col">Tag</div>
            <div class="col">: {{header.OrderTag}}</div>
          </div>
        </div>
        <div class="summery">
          <!--<h3 class="title">Summary</h3>-->
          <div class="row sblock top">
            <div class="col label">Sub Total</div>
            <div class="col value">{{cart.summery.Total.roundTo(2).toFixed(2)}}</div>
          </div>
          <div class="row sblock">
            <div class="col label">Tax</div>
            <div class="col value">
             {{(cart.summery.Tax + cart.summery.Tax5DiscAmount).roundTo(2).toFixed(2)}}
            </div>
          </div>
          <div class="row sblock">
            <div class="col label">Discount</div>
            <div class="col value">{{(cart.summery.Discount+cart.summery.Tax5DiscAmount).roundTo(2).toFixed(2)}}</div>
          </div>
          <div class="row sblock">
            <div class="col label">Count</div>
            <div class="col value">{{cart.summery.Count}}</div>
          </div>
          <div class="row sblock">
            <div class="col total label">Total</div>
            <div class="col total value">{{cart.summery.Total.roundTo(2).toFixed(2)}}</div>
          </div>
        </div>
        <div class="row qty-bc">
          <div class="col">
            <div class="quantity">
              <div class="list list-inset">
                <label class="item item-input">
                  <span class="input-label">Qty</span>
                  <input type="number" id="qty" ng-click="ShowQtyBox()" ng-model="qty.value" readonly>
                  <!-- <ionic-numberpicker input-obj="numberPickerObject">
                    <input type="number" id="qty" ng-model="qty.value" readonly>
                  </ionic-numberpicker> -->
                </label>
              </div>
            </div>
          </div>
          <div class="col">
            <li class="barcode-toggle item item-toggle">
              Barcode
              <label class="toggle toggle-assertive">
                <input type="checkbox" ng-model="data.barcodeMode" ng-change="onBarcodeModeChange()">
                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
            </li>
          </div>
        </div>
        <div class="row qty-bc" style="visibility: hidden;">
          <div class="col">
                <input type="number" ng-disabled="(!data.barcodeMode || !data.Submit)">
                <div class="track">
                  <div class="handle"></div>
                </div>

          </div>
          <div class="col">
            <li class="barcode-toggle item item-toggle">
              BS
              <label class="toggle toggle-assertive">
                <input type="checkbox" ng-model="data.Submit" ng-change="onModeChange()">
                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
            </li>
          </div>
        </div>

        <div class="functions">
          <div class="row wrapper">
            <div class="col">
              <ion-scroll zooming="false" direction="y" id="functions-bottom">
                  <a href="" class="button" ng-repeat="fn in functions" ng-click="invoke(fn)" ng-disabled="flag" ng-dblclick="false"
                     ng-class="{ 'button-balanced': (fn.Name == 'FullTakeaway' && TakeAway) || (fn.Name == 'PartialTakeaway' && cart.selectedItem.TakeAway == 'true') }"
                  style="font-weight: bold;">{{ print(fn, 'Description')}}</a>
              </ion-scroll>
            </div>
          </div>
        </div>
        </div>

    </div>

    </div>


  </ion-content>

  <div class="bar bar-footer">
    <div class="col page-bar row pages">
      <div class="">
        <ion-scroll direction="x" zooming="false" delegate-handle="pages-scroll">
          <div class="button-bar">
          <a class="button  button-positive" ng-click="changePage(page, $index)"
             ng-class="{'button-balanced': page.selected, 'button-positive': !page.selected}" ng-repeat="page in keyboard.pages">
            <p class="desc1" style="font-weight: bold;">
              {{ print(page, "Description", null, 14) }}
            </p>
          </a>
            </div>

        </ion-scroll>
      </div>
    </div>
    <div class="col">
      <a class="button button-full button-calm tender-button" ng-click="openTenderForm()" ng-disabled="tenderButtonClicked">
        <p class="desc1" style="font-weight: bold;">Tender</p>
      </a>
    </div>
  </div>

  <script id="subPLU.html" type="text/ng-template">
    <ion-modal-view class="subplu">
      <ion-header-bar>
        <h1 class="title">{{modalData.title}}</h1>
        <button class="button button-clear" ng-click="closeSubPLUModal()"> <i class="ion-close-round"></i></button>
      </ion-header-bar>
      <ion-content>
        <div class="row">
          <div class="col list">
            <a ng-repeat="subPLU in SubPLUList" href="" class="button button-calm plu-item"
               ng-click="onSubPLUClick(subPLU)">{{ print(subPLU, "Description") }}</a>
          </div>
        </div>
      </ion-content>
      <!--<ion-footer-bar class="bar-stable">-->
      <!--<div class="h1 title"></div>-->
      <!--<div class="buttons" ng-click="modalClose()">-->
      <!--<button class="button button-energized button-outline">Cancel</button>-->
      <!--</div>-->
      <!--</ion-footer-bar>-->
    </ion-modal-view>
  </script>

</ion-view>

