
<div class="row" ng-controller="UploadLogsDetailCtrl as ctrl">
  <div class="col" style="margin-left: 10%; max-width: 80%">
    <div class="card">
      <div class="item item-text-wrap">
        <ion-scroll class="cart" zooming="false" direction="y" style="height: 520px"  delegate-handle="cart">
        <div class="list">
          <label class="item item-input item-stacked-label" style="padding: 2px; height: 520px; ">
            <div class="col">
                <pre style="font-size: 12px">{{newlogs}}</pre>
            </div>
          </label>
        </div>
        </ion-scroll>
      </div>
      <label class="item item-input item-stacked-label" style="padding: 5px 30px;">
          <span class="input-label">Auto Upload Interval - Minute (Minium: 1 mins)</span>
          <input type="number" ng-model="ctrl.settings.upinterval">
        </label>
    </div>
    <div class="row">
        <div class="col">
          <div class="padding">
            <button class="button button-block button-positive" ng-click="ctrl.modifyUpload()" ng-disabled="">
              Config
            </button>
          </div>
        </div>
        <div class="col">
            <div class="padding">
              <button class="button button-block button-positive" ng-click="ctrl.sendMail()" ng-disabled="">
                Send Upload Log
              </button>
            </div>
          </div>
        <div class="col">
          <div class="padding">
            <button class="button button-block button-secondary" ng-click="ctrl.Back2Logs()" ng-disabled="">
              Back
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
