<ion-view view-title="iSeries NX Lite" class="shift" cache-view="false">
  <ion-header-bar>
    <!--<button class="button button-icon ion-arrow-left-c" ng-if="!shiftSelectionShown" ng-click="goBack()"></button>-->
    <h1 class="title">Shift Options</h1>
    <button ng-if="!modalCloseDisabled" class="button button-clear" ng-click="closeShiftOptionsModal()"> <i class="ion-close-round"></i></button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="row">
      <div class="col-50 padding">
        <button class="button button-large button-positive button-block" ng-click="ctrl.openShiftOpenModal()" ng-disabled="ctrl.shiftData.unOpened.length == 0">
          Open / Change Shift
        </button>
      </div>
      <div class="col-50 padding">
        <button class="button button-large button-positive button-block" ng-click="ctrl.openShiftCloseModal()"
                ng-disabled="ctrl.shiftData.opened.length == 0">
          Close Shift
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-50 padding">
        <button class="button button-large button-positive button-block" ng-click="ctrl.openDayEnd()" ng-dblclick="false"
                ng-disabled="!ctrl.shiftData.dayEndPossible || flag">

          Day End Closing
        </button>
      </div>
      <div class="col-50 padding">
        <button class="button button-large button-positive button-block" ng-click="ctrl.openShiftExitModal()"
                ng-disabled="ctrl.shiftData.opened.length == 0">
          Shift Exit
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-50 padding">
        <button class="button button-large button-positive button-block" ng-click="ctrl.openDeclareCash()" ng-disabled="ctrl.shiftData.toBeDeclared.length == 0">
          Declare Cash
        </button>
      </div>
    </div>

    <!--<button class="button button-large button-positive button-block" ng-click="ctrl.test()">-->
     <!--Test-->
    <!--</button>-->
  </ion-content>
</ion-view>
