<ion-modal-view class="shift" ng-controller="ShiftOptionsCtrl as ctrl">
  <ion-header-bar>
    <!--<button class="button button-icon ion-arrow-left-c" ng-if="!shiftSelectionShown" ng-click="goBack()"></button>-->
    <h1 class="title">Shift Options</h1>
    <button ng-if="!modalCloseDisabled" class="button button-clear" ng-click="closeShiftOptionsModal()"> <i class="ion-close-round"></i></button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="row">
      <div class="col-50 padding">
        <button class="button button-large button-positive button-block" ng-click="ctrl.openShiftOpenModal()">
          Open / Change Shift
        </button>
      </div>
      <div class="col-50 padding">
        <button class="button button-large button-positive button-block" ng-click="ctrl.openShiftCloseModal()">
                <!--ng-disabled="!shift"-->
          Close Shift
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-50 padding">
        <button class="button button-large button-positive button-block" ng-click="ctrl.openDayEnd()">
                <!--ng-disabled="!shift"-->

          Day End Closing
        </button>
      </div>
      <div class="col-50 padding">
        <button class="button button-large button-positive button-block" ng-click="ctrl.openShiftExitModal()">
                <!--ng-disabled="!shift"-->
          Shift Exit
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-50 padding">
        <button class="button button-large button-positive button-block" ng-click="ctrl.openDeclareCash()">
          Declare Cash
        </button>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
