<ion-view view-title="iSeries NX Lite">
  <ion-content class="padding printer-config">
    <div class="wrapper">
      <div class="row">
        <div class="col col-50 col-offset-25">
          <div class="list">
            <label class="item item-input item-stacked-label">
              <span class="input-label">IP Address</span>
              <input type="text" ng-model="settings.ipAddress">
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label" ng-model="settings.port">Port</span>
              <input type="text">
            </label>
          </div>
          <button class="button button-block button-positive" ng-click="ctrl.save(settings.ipAddress, settings.port)">
            Save & Connect
          </button>

          <button class="button button-block" ng-click="ctrl.printSample()">
            Print sample
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
