<ion-modal-view class="sk" ng-controller="SalesKitCtrl" no-scroll="true">
  <ion-header-bar>
    <h1 class="title">{{print(salesKits, 'Description')}}</h1>
    <button class="button button-clear" ng-click="close()"> <i class="ion-close-round"></i></button>
  </ion-header-bar>
  <ion-content>
    <div class="row">
      <div class="col col-75 sk">
        <div class="row">
          <div class="col"></div>
        </div>
        <div class="row components">
          <div class="col">
            <button class="button button-energized" ng-repeat="skit in salesKits.list" ng-click="selectComponent(skit)">Component {{$index+1}} <span class="badge badge-assertive">{{skit.Quantity - skit.Qty}}</span></button>
          </div>
        </div>
        <ion-scroll zooming="false" direction="y" style="height: 470px;" delegate-handle="salesKit">
          <div class="row wrapper">
            <div class="col">
              <button class="button sk-item button-calm" ng-repeat="item in salesKits.selected.Selections" ng-click="selectItem(item)">{{item.Description1}}</button>
            </div>
          </div>
        </ion-scroll>
      </div>
      <div class="col col-25">
        <div class="row table-header">
          <div class="col col-50" style="padding-right: 0;">Description</div>
          <div class="col text-right">Qty</div>
        </div>
        <ion-scroll zooming="false" direction="y" style="width: 200px; height: 300px;" delegate-handle="salesKitSelectedItems">
        <div class="selected-items">
          <div ng-repeat="item in salesKits.selectedList | orderObjectBy :'AddedAt' : false" class="row" ng-class="{selected: item.selected == true}" ng-click="selectRow(item)">
            <div class="col col-75">{{print(item, 'Description') || print(item, 'Desc')}}</div>
            <div class="col col-25 text-right padding-right" style="padding-right: 15px;">{{item.Qty}}</div>
          </div>
        </div>
        </ion-scroll>
        <div class="operations">
          <div class="row">
            <div class="col">
              <button class="button button-full button-stable" ng-click="addSelected()">+</button>
            </div>
            <div class="col">
              <button class="button button-full button-stable" ng-click="removeSelected()">-</button>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button class="button button-full button-stable" ng-click="clearSelected()">Clear</button>
            </div>
            <div class="col">
              <button class="button button-full button-stable" ng-click="clearAll()">Clear All</button>
            </div>
          </div>
        </div>
        <div class="footer-buttons">
          <div class="row">
            <div class="col">
              <button class="button button-full button-positive icon ion-checkmark-round save" ng-click="save()"></button>
            </div>
            <div class="col">
              <button class="button button-full button-assertive icon ion-close-round cancel" ng-click="close()"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
