<ion-view view-title="Login">
  <ion-content>
    <div class="row">
      <div class="col">
        <div class="col col-50 col-offset-25">
          <div class="card">
            <div class="item item-divider">
              <h2 class="card-he">{{config.name}}</h2>
            </div>
            <div class="item item-text-wrap">
              <form ng-submit="doLogin()" novalidate>
                <div class="list">
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">Username</span>
                    <input type="text" ng-model="credentials.username">
                  </label>
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="credentials.password">
                  </label>
                </div>
                <div class="row">
                  <div class="col">
                    <button class="button button-block button-positive" type="submit">Log in</button>
                  </div>
                  <div class="col">
                    <a href="#/settings" class="button button-block button-default">Configure</a>
                  </div>
                </div>
              </form>
              </div>
            </div>
          </div>
        </div>
      </div>
  </ion-content>
</ion-view>
