<ion-modal-view class="pwp" ng-controller="PWPCtrl">
  <ion-header-bar>
    <h1 class="title">Purchase with Purchase</h1>
    <button class="button button-clear" ng-click="close()"> <i class="ion-close-round"></i></button>
  </ion-header-bar>
  <ion-content class="has-header" scroll="false">
    <div class="row">
      <div class="col col-60">
        <ion-scroll zooming="false" direction="y" style="height: 470px;">
          <!--<div class="row wrapper">-->
            <!--<div class="col">-->
              <button ng-disabled="item.SubItemMaxQty <= item.Qty" class="button pwp-item button-calm" ng-repeat="item in pwp.items" ng-click="selectItem(item)">
                <div>{{print(item, 'ItemDesc')}}</div>
                <div>{{ '(Max : '+item.SubItemMaxQty+')' }}</div>
              </button>
            <!--</div>-->
          <!--</div>-->
        </ion-scroll>
      </div>
      <div class="col col-40">
        <div class="stats">
          <div class="row">
            <div class="col col-33">Quantity Entered</div>
            <div class="col">{{pwp.QtyEntered}}</div>
            <div class="col col-33">Max Price</div>
            <div class="col">{{pwp.MaxPrice}}</div>
          </div>
          <div class="row">
            <div class="col col-33">Quantity Suggested</div>
            <div class="col">{{pwp.SuggestedQty}}</div>
            <div class="col col-33">Total Child Quantity</div>
            <div class="col">{{pwp.TotalChildQty}}</div>
          </div>
        </div>
        <div class="selected-items">
          <div class="row">
            <div class="col col-50">Description</div>
            <div class="col col-25">Price</div>
            <div class="col col-25">Qty</div>
          </div>
          <div ng-repeat="item in pwp.selectedItems | orderObjectBy :'AddedAt'" class="row" ng-class="{selected: item.selected == true}" ng-click="selectRow(item)">
            <div class="col col-50">{{print(item, 'ItemDesc')}}</div>
            <div class="col col-25">{{(item.SubItemPrice ? item.SubItemPrice : item.Price) |currency}}</div>
            <div class="col col-25">{{item.Qty}}</div>
          </div>
        </div>
        <div class="operations">
          <div class="row">
            <div class="col">
              <button class="button button-full button-stable" ng-click="addSelected()">+</button>
            </div>
            <div class="col">
              <button class="button button-full button-stable" ng-click="removeSelected()">-</button>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button class="button button-full button-stable" ng-click="clearSelected()">Clear</button>
            </div>
            <div class="col">
              <button class="button button-full button-stable" ng-click="clearAll()">Clear All</button>
            </div>
          </div>
        </div>
        <div class="footer-buttons">
          <div class="row">
            <div class="col">
              <button class="button button-full button-positive icon ion-checkmark-round save" ng-click="save()"></button>
            </div>
            <div class="col">
              <button class="button button-full button-assertive icon ion-close-round cancel" ng-click="close()"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
